<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reservation Site</title>
    {% load static %}
    <!-- Cascading Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Favicon -->
</head>
<body class="bg-dark">
    <!-- Navition bar -->
    {% include 'navbar.html' %}
    <!-- ./Navition bar -->
    <!-- Main content -->
    <main class="container" style="min-height: 83vh; color: white;">
    {% block content %}
        <h1>Main content goes here.</h1>
        <p>Change the content here.</p>
    {% endblock content %}
    </main>
    <!-- ./Main content -->
    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- ./Footer -->
    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $('.carousel').carousel()
    </script>
    <!-- ./Scripts -->
</body>
</html>